body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #C5D5EC;
    font-family: 'IBM Plex Mono', monospace;
}

main {
    flex: 1;
}

#me {
    flex: 0 0 auto;
    color: #4F4B5C;
    text-align: center;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    flex-wrap: wrap;
}

img {
    align-self: center;
}

ul {
    display: flex;
    justify-content: space-around;
}

li  {
    list-style-type: none;
    color: #9E082C;
}

.invisible{
    display: none;
}

iframe {
    zoom: 3.5;
}

.contactMe{
    align-self: center;
    padding-top: 6%;
    font-size: 2em;
}

#socialMediaMe{
    align-self: center;
    /*vertical-align: center;*/
    padding-top: 10em;
    padding-bottom: 10em;
}

@media all and (max-width: 500px) {
    ul {
        flex-direction: column;
    }
}

p {
    /*display: flex;*/
    text-align: center;
}

body > div > p:nth-child(7) > a{
    color: black;
}

@media all and (max-width: 500px) {
    #socialMediaMe > img {
        flex-direction: column;
    }
}

#projectMe{
    align-self: center;
    padding-top: 15em;
    padding-bottom: 15em;
}

body > div > p:nth-child(7){
    padding-bottom: 2em;
}