body {
    background-color: #C5D5EC;
    font-family: 'IBM Plex Mono', monospace;
}

#me {
    color: #4F4B5C;
    text-align: center;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    flex-wrap: wrap;
}

img {
    align-self: center;
    padding-bottom: 2vh;
}

ul {
    display: flex;
    justify-content: space-around;
}

li  {
    /*display: flex;*/
    list-style-type: none;
    color: #9E082C;
}

.invisible{
    display: none;
}

iframe {
    /*height: 500px;*/
    zoom: 3.5;
}
